body {background-color: aliceblue ;}
#título{
    font-size: 70px;
    text-align: center;
    color:blue;

}

.texto {
    font-size: 40px;
    text-align: justify;
    color: black;
}

